@model Platzi_ASP_NET_Core.Models.Curso

@{
    ViewData["Title"] = "Edición del Curso";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>

<div asp-validation-summary="All"></div>
<form method="POST">
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" value="@Model.Nombre"/>
    </div>
    <div>
        <label asp-for="Dirección"></label>
        <input asp-for="Dirección" value="@Model.Dirección"/>
    </div>
    <div>
        <label asp-for="Jornada"></label>
        @Html.DropDownList(
            "Jornada", Html.GetEnumSelectList<Platzi_ASP_NET_Core.Models.TiposJornada>(),
            Model.Jornada.ToString(),
            new {@class = "form-control",}
        )
    </div>
    <input type="submit"/>
</form>

<p><i>@ViewBag.Fecha</i></p>